<p>
Hej <%= @member.name %>
Velkommen som medlem i Club Novus.
</p>

<p> Se din profil: <%= link_to "Se profil", edit_merchant_member_path(@merchant, @member)%></p>

<p>
Mvh
Michel Kenneth Hansen
</p>